@import 'src/styles/colors.scss';

.wrapper {
	height: 90vh;
	width: 90vw;
	margin: 5vh 5vw;
	background-color: #f6f6ef;
	overflow: scroll;
	padding: 1rem;
	border-radius: 5px;
}

.item {
	margin-top: 0;
}

.close-button {
	height: fit-content;
}
