@import 'src/styles/colors.scss';

.wrapper {
	margin: 0 6rem;
	background-color: #f6f6ef;
	padding: 1rem;
	color: black;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.item {
	margin-top: 0;
}
