@import 'src/styles/colors.scss';

.wrapper {
	display: flex;
	height: 3rem;
	margin: 0.5rem 0;
}

.idx {
	color: $dark-grey;
	width: 2rem;
	text-align: end;
	margin-right: 0.5rem;
}

.title {
	color: white;
	text-decoration-color: initial;
	text-decoration: none;

	&:hover {
		color: #fffffe;
	}
}

.lower-row {
	color: $dark-grey;
	font-size: 0.75rem;
}

.url {
	color: $dark-grey;
	font-size: 0.75rem;
}
