@import 'src/styles/colors.scss';

.wrapper {
	display: flex;
	height: 3rem;
	margin: 0.5rem 0;
}

.idx {
	color: $dark-grey;
	width: 2rem;
	text-align: end;
	margin-right: 0.5rem;
}

.title {
	color: white;
	text-decoration-color: initial;
	text-decoration: none;

	&:hover {
		color: #fffffe;
	}
}

.lower-row {
	color: $dark-grey;
	font-size: 0.75rem;
}

.url {
	color: $dark-grey;
	font-size: 0.75rem;
}

.modal {
	height: 90vh;
	width: 90vw;
	margin: 5vh 5vw;
	background-color: blue;
}

.portal {
	position: absolute;
	top: 0;
	background-color: black;
	opacity: 0.5;
	height: 100vh;
	width: 100vw;
}
